body{
    background-color: gray;
    color: white;
    border: 2px solid cornflowerblue;
    
}
h1{
    text-align: center;
    color: cornflowerblue;
    font-size: 3em;
}
h2{
 font-size: 2em;
}
a{
    color: cornflowerblue;
    text-decoration: none;
    font-size: 1.5em; 
}
.learnmore{
    text-align: left;
    color: cornflowerblue;
    font-size: 1em;

}
.gallery-container{
    text-align: center;
    
}
/* .gallery-container :nth-child(){
    flex-grow: 2;
} */


.gallery_pic{
    width: 50%;
    border-radius: 10px;
}
.show_pic {
    width: 500px;
    height: 500px;
    border-radius: 10px;
    object-fit: contain;
}
.show{
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
    margin: 10px;
}