<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PetFax | Pet Page</title>
</head>
<body>
    <div class="show-container">
        <H1>{{ pet.pet_name}}</H1>
        <div class="show">
            <h3> Some Facts about {{ pet.pet_name}}.</h3>
            <p> {{ pet.pet_fact }}. </p>
                <img class="show_pic" src="{{ pet.pet_photo }}" alt="pet photo"/>
        </div>
        <div class="buttons">
            <div>
                <a class="link" href="/pets"> <- Back </a>
            </div>
            <div>
                <a class="link" href="/facts"> Facts -> </a>
            </div>
        </div>
    </div>
    <footer>
        <p>"Embrace the joy of companionship and make a difference in a furry friend's life. Open your heart and home to a loving pet, and together, let's create a world filled with compassion and friendship.</p>
    </footer>  
</body>
</html>