<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PetFax | User Fax Page</title>
</head>
<body>
    <H1>User Fax</H1>
    <div class="message">
        <p>
            "User facts"
        </p>
    </div> 
    <div>
        <h3>
            Hello
        </h3>    
    </div>

    <footer>
        <p>"Embrace the joy of companionship and make a difference in a furry friend's life. Open your heart and home to a loving pet, and together, let's create a world filled with compassion and friendship.</p>
    </footer> 
</body>
</html>
